h1 {
    font-family: 'Verdana';
    font-size: 50px;
    color: white;
    font-weight: normal;
    text-align: center;
}
h2 {
    font-family: 'Verdana';
    font-size: 42px;
    color: white;
    font-weight: 300;
    text-align: center;
}
h3 {
    font-family: 'Verdana';
    font-size: 21px;
    color: grey;
    font-weight: normal;
    text-align: right;
}
body {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
}
a {
    font-family: 'Verdana';
    font-size: 16px;
    color: Aquamarine;
    font-weight: normal;
}
p {
    font-family: 'Verdana';
    font-size: 21px;
    color: grey;
    font-weight: normal;
}